$mobile-max: 767px;
$tablet-portrait-min: 768px;

html {
  height: 100%;
  background-color: $page-background-blue;
}

body {
  height: inherit;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 28px;
  padding: 10px 0 5px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.button {
  display: inline-block;
  background-color: grey;  
  border-radius: 5px;
  color: white;
  padding: .8em;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  
  &.save-button {
    background-color: #42a0e2;
    
    &:hover {
      background-color: #cadef3;
    }
  }
  
  &:hover {
    background-color: #8b8c8e;
    color: white;
  }
}

.input-error {
  border: 2px solid red;
}

.error-message {
  font-size: 14px;
  color: red;
  padding: 5px 0;
}

.nav-back-arrow {
  font-size: 24px;
  padding: 10px 0;
  cursor: pointer;
  
  &:hover {
    color: #403e3e;;
  }
}