$mobile-max: 767px;
$tablet-portrait-min: 768px;

@mixin box-shadowed() {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

html {
  height: 100%;
  background-color: $page-background-blue;
}

body {
  height: inherit;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 34px;
  padding: 10px 0 5px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.button {
  @include box-shadowed;
  
  display: inline-block;
  background-color: grey;  
  border-radius: 5px;
  color: white;
  padding: .8em;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;

  &.save-button {
    background-color: #42a0e2;
    
    &:hover {
      background-color: #1181b7;
    }
  }
  
  &:hover {
    background-color: #8b8c8e;
    color: white;
  }
  
  @media (max-width: $mobile-max) {
    width: 90%;
    margin: 5px auto;
    font-size: 18px;
    text-align: center;
  }
}

.input-error {
  border: 2px solid red;
}

.error-message {
  font-size: 14px;
  color: red;
  padding: 5px 0;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  &:hover {
    background-color: #ccc;
  }
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
    &:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  
  .checkmark {
    position: absolute;
    top: -8px;
    left: 3px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    
    &:after {
      content: "";
      position: absolute;
      display: none;
      
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }  
}

.nav-back-arrow {
  font-size: 24px;
  padding: 10px 0;
  cursor: pointer;
  
  &:hover {
    color: #403e3e;;
  }
}