@import 'colors';
@import 'resets';
@import 'defaults';
@import 'pages_common';

html {
  background-color: white;
}

#home-page {
  .header-section {
    background-color: $page-background-blue;
    color: white;
    text-align: center;
    
    h1 {
      font-size: 66px;
      padding: 100px 0 30px;
    }
    
    h3 {
      padding-bottom: 50px;
    }
  }
  
  .content-section {
    .button-row {
      text-align: center;
      
      .button-container {
        margin: 0 20px;
        text-align: center;
        display: inline-block;
        
        .home-page-button {
          width: 150px;
          color: black;
          padding: .8em 1.2em;
          background-color: #E6E6E6;
          position: relative;
          top: -25px;
        } 
      }
    }
  }
}