@import 'resets';

$page-background-blue: #115677;

#quip-quiz-app {
  
}

@import 'defaults';
@import 'home_page';
@import 'pages_common';
@import 'quiz_new_page';
@import 'quiz_index_page';
@import 'quiz_show_page';