#quiz-new-page-container, #quiz-index-page-container, #quiz-show-page-container, #quiz-results-page-container {
  height: inherit;
}

#quiz-new-page, #quiz-index-page, #quiz-show-page, #quiz-results-page  {
  height: 100%;
  width: 100%;
}

#quiz-new-page, #quiz-index-page {
  .form-container {
    min-height: 100%;
    
    @media (max-width: $mobile-max) {
      top: 35px;
      position: relative;
    }
    
    background-color: white;
    margin: auto;
    max-width: 750px;
    padding: 0 10px;
  }
}

#quiz-show-page, #quiz-results-page {
  .quiz-container, .results-container {
    min-height: 100%;
    background-color: white;
    padding: 0 10px;
    
    @media (min-width: $tablet-portrait-min) {
      margin: 0 auto;
      min-width: 700px;
      max-width: 900px;
    }
  }
}