#quiz-new-page-container, #quiz-index-page-container, #quiz-show-page-container, #quiz-results-page-container {
  height: inherit;
}

#quiz-new-page, #quiz-index-page, #quiz-show-page, #quiz-results-page  {
  height: 100%;
  width: 100%;
  background-color: $page-background-blue;
}

#quiz-new-page, #quiz-index-page, #quiz-results-page {
  .form-container, .results-container {
    min-height: 100%;
    
    @media (max-width: $mobile-max) {
      top: 35px;
      position: relative;
    }
    
    background-color: white;
    margin: auto;
    max-width: 700px;
    padding: 0 10px;
  }
}