#quiz-index-page {
  .quiz-item {
    display: flex;
    cursor: pointer;
    padding: 15px 2px;
    
    &:hover {
      color: #2b6369;
      
      p {
        color: #2b6369;
      }
    }
    
    .side-icon {
      align-self: center;
      display: inline-block;
      padding-right: 10px;
      font-size: 25px;
    }
    
    .quiz-details {
      display: inline-block;
      
      h3 {
        margin-bottom: 10px;
        color: #115677;
      }
      
      p {
        font-size: 14px;
      }  
    }
  }
}