#quiz-new-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $page-background-blue;
  
  .form-container {
    @media (max-width: $mobile-max) {
      top: 35px;
      position: relative;
      height: 90vh;
    }
    
    background-color: white;
    margin: auto;
    max-width: 550px;
    height: 100vh;
    
    .add-questions-section {
      .add-new-question-header {
        background-color: grey;
      }
    }
  }
}