@import 'colors';
@import 'resets';
@import 'defaults';
@import 'pages_common';

#quiz-show-page {
  .quiz-container {
    h4 {
      margin-bottom: 20px;
      color: grey;
    }
    
    .question-item {
      padding: 10px 0;
      
      .question {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
    
    .buttons-row {
      text-align: right;
      padding: 25px 5px;
    }
  }
}