@import 'colors';
@import 'resets';
@import 'defaults';
@import 'pages_common';

#quiz-new-page {
  #new-quiz-form {
    margin-top: 15px;
    
    label {
      padding-right: 5px;
    }
    
    input {
      border: none;
      border-bottom: 1px solid grey;
      flex-grow: 1;
      outline: none;
      
      @media (max-width: $mobile-max) {
        border-radius: none;  
      }
    }
    
    input, textarea {
      font-size: 15px;
    }
    
    .field {
      display: flex;
      padding: 5px 0;
      
      &.name-field, &.description-field {
        flex-direction: column;
      }
      
      &.description-field {
        padding-top: 15px;
      }
      
      #quiz-name {
        font-family: inherit;
        padding: 5px;
        margin-top: 5px;
      }
      
      #quiz-description {
        display: block;
        resize: none;
        height: 70px;
        padding: 5px;
        margin-top: 5px;
        font-family: inherit;
      }
    }
    
    .error-message {
      margin-left: 5px;
      
      &.questions-error-message {
        @media (max-width: $mobile-max) {
          text-align: center;
        }
      }
    }
    
    .add-questions-section-header {
      font-size: 24px;
      margin: 35px 0 15px;
    }
    
    .add-questions-section {     
      @media (min-width: $tablet-portrait-min) {
        margin: 10px 0;
      }
        
      .button-row {
        @media (max-width: $mobile-max) {
          text-align: center;
        }
        
        .add-new-question-button {
          @media (min-width: $tablet-portrait-min) {
            margin: 10px 0;
          }
        }  
      }
      
      .questions-section {
        padding: 10px 10px 20px;
        
        .question-item {
          padding-bottom: 35px;
          
          .fa {
            padding: 0 3px;
          }
          
          .question {
            margin-bottom: 5px;
            font-weight: bold;
          }
          
          .choice {
            font-size: 16px;
            padding: 2px 0;
          }
          
          .edit-icon, .close-icon {
            float: right;
            cursor: pointer;
            
            @media (max-width: $mobile-max) {
              font-size: 22px;
            }
          }
          
          .checkmark {
            color: #34a220;
            font-size: 16px;
            font-weight: bold;
            margin-left: 5px;
          }
        }
      }
      
      .question-editor-section {
        @include box-shadowed;
        
        padding: 20px 20px 10px;
        
        .question-field {
          padding: 15px 0;
        }
        
        .choices-section {
          @media (max-width: $mobile-max) {
            text-align: left;            
          }
          
          .choice {
            padding: 10px 0;
            
            .choice-value {
              display: inline-block;
              min-width: 15px;
            }
            
            .choice-text {
              width: 300px;
              margin-right: 5px;
              
              @media (max-width: $mobile-max) {
                width: 74%;
              }
            }
          }
        }
        
        .buttons-row {
          padding: 15px 0;
        }
      }
    }
    
    .submit-button-row {
      @media (max-width: $mobile-max) {
        text-align: center;
      }
              
      text-align: right;
      padding: 20px 0;
    }
  }
}