@import 'colors';
@import 'resets';
@import 'defaults';
@import 'pages_common';

#quiz-results-page {
  h4 {
    margin-bottom: 20px;
  }
  
  .result {
    padding: 10px 0;
    font-size: 15px;
    
    .question {
      margin-bottom: 5px;
      font-size: 18px;
    }
    
    .correct-answer {
      margin-bottom: 10px;
    }
    
    .checkmark-icon {
      color: #34a220;
      font-size: 16px;
      font-weight: bold;
      margin-left: 5px;
    }
    
    .x-icon {
      color: #ea213d;
      font-size: 16px;
      margin-left: 5px;
    }
  }
  
  .score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .buttons-row {
    text-align: right;
    padding: 25px 5px;
    
    @media (max-width: $mobile-max) {
      text-align: center;
    }
    
    .button {
      color: white;
      
      @media (max-width: $mobile-max) {
        width: 90%;
        margin: 5px auto;
        font-size: 18px;
      }
    }
  }
}